<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Magento_Backend::Testimonial_settings" title="Testimonials" translate="title" module="Egio_Testimonials" sortOrder="50"  resource="Magento_Backend::Testimonial_settings"/>
        <add id="Egio_Testimonials::testimonials_manage" title="Manage Testimonials" translate="title" module="Egio_Testimonials" sortOrder="1" parent="Magento_Backend::Testimonial_settings" action="testimonial/testimonials/index" resource="Magento_Backend::Testimonial_settings"/>
    </menu>
</config>
